.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
 position:absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #58c28e;
}

.login-form {
  width: 400px;
  padding: 10px;
  background-color:aliceblue;
  


}

.login-outer{
  display: flex;
  flex-direction: column;
  width: 500px;
  min-width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color:aliceblue;
  height:400px;
  justify-content: center;
  align-items: center;

}

.login-form-item {
  margin-bottom: 25px;
}


.login-button {
  width: 100%;
  height: 40px;
}

.ant-input {
  height: 40px; /* Adjust the height as needed */
  border: 1px solid black;
}



.ant-input-password {
  height: 40px; /* Adjust the height as needed */
  border: 1px solid black;
}

.log{
  color: black;
  text-align: center;
  font-size: 30pt;
  padding: 0px;

}

@media (max-width: 730px) {
  .login-outer{
    width: 400px;

  }

}

@media (max-width:434px) {
  .login-outer{
    width: 300px;

  }

  .login-form {
    width: 300px;
  }

}

.login-button{
  font-size: 14pt;
  font-weight: bold;
}

.login-button:hover{
  background-color: rgb(54, 54, 255) !important;
}
