/* addnew.css */
.add-new-modal {
    position: fixed;
    width: 95%;
    height: 95%;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: scroll !important;
    z-index: 999;
  }
  
  .add-new-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #999;
    font-size: 25pt;
    padding: 8px;
  }

  .close-btn:hover{
    color: black;
    font-weight: bold;
  }


  
  .add-new-modal::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Track */
  .add-new-modal::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  /* Handle */
  .add-new-modal::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
  }
  
  /* Handle on hover */
  .add-new-modal::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
  }
  .add-new-modal {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
  }

  .addHeader{
    text-align: center;
    font-size: 20pt;
    margin-bottom: 60px;
    color: rgb(2, 148, 148);
    font-weight: bold;
  }

  @media(max-width:600px){
    .addHeader{
      margin-top:60px;
    }
  }
  